/* Primary Styles
---------------------------------*/
*{
   font-family: 'Spectral', serif;
   outline: 0 !important;
}

body,html{
    height: 100%;
    font-family: Garamond, Times, Arial;
}

a{
    text-decoration:none!important;
}
a:active, a:focus {
  outline: 0;
  border: none;
  -moz-outline-style: none
}

a:hover{
     text-decoration: none;
}
p{
    white-space: pre-line;
    text-align: justify;
    text-justify: inter-word;
}

.title_head{
  font-size: 1.2em;
  color: #27AE61;
}
.parallax {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

.box_shadow{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.seperator {
  padding:80px;
  color:#fff;
  background-color:rgba(0,0,0, .5);
}
.seperator_background{
  background-attachment: fixed;
  background-repeat: repeat;
  background-size:100% 100%;
}
.seperator i {
  font-size:90px;
  color:#fff;
  opacity:.7;
}

.seperator h3 {
  margin-top:20px;
  margin-bottom:20px; 
  font-size:30px;
  font-family:footlight mt light;
   -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}
.seperator h3:hover {
  transform:scale(1.2);
  
}
.colorgraph {
  height: 5px;
  border-top: 0;
  background: #c4e17f;
  border-radius: 5px;
  background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}

.section_title{
  font-size: 35px;
  text-transform: uppercase;
}
.section_title_begain{
  font-size: 45px;
  font-weight: 700;
}
.font_red{
  color: #DB0A5B;
}

.font_white{
  color: #FFF;
}

.font_black{
  color: #333;
}
.font_green{
  color: #03A678;
}
.font_blue{
  color: #4F81BC;
}
.hidden_large{
  display: none;
}



@media only screen and (max-width: 760px) {
   .section_title{
      font-size: 18px;
      text-transform: uppercase;
      margin-top: 20px;
    }
    .section_title_begain{
      font-size: 25px;
      font-weight: 700;
    }
    .hidden_large{
      display: block;
    }
    .hidden_small{
      display: none;
    }
    .col-sm-8{
      width: 100%;
    }
}


