/* Primary Styles
---------------------------------*/
*{
   font-family: 'Spectral', serif;
   outline: 0 !important;
}

body,html{
    height: 100%;
    font-family: Garamond, Times, Arial;
}

a{
    text-decoration:none!important;
}
a:active, a:focus {
  outline: 0;
  border: none;
  -moz-outline-style: none
}

a:hover{
     text-decoration: none;
}
p{
    white-space: pre-line;
    text-align: justify;
    text-justify: inter-word;
}

.form-group input{
  border:0;
}

.form-group textarea{
  border:0;
}
.padding{
  padding-top: 40px;
  padding-bottom: 40px;
}
.title_head{
  font-size: 1.2em;
  color: #27AE61;
}
.darker {
  background-color: rgba(0, 0, 0, 0.5);
}

.box_shadow{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.seperator {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.colorgraph {
  height: 5px;
  border-top: 0;
  background: #c4e17f;
  border-radius: 5px;
  background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}

.font_red{
  color: #DB0A5B;
}

.font_white{
  color: #FFF;
}

.font_black{
  color: #333;
}
.font_green{
  color: #03A678;
}
.font_blue{
  color: #4F81BC;
}
.hidden_large{
  display: none;
}

.shadow {
  display: inline-block;
  position: relative;
  -moz-box-shadow: rgba(0, 0, 0, 0.8) 0 0 5px inset;
  -webkit-box-shadow: rgba(0, 0, 0, 0.8) 0 0 5px inset;
  box-shadow: rgba(0, 0, 0, 0.8) 0 0 5px inset;
  -webkit-transition: box-shadow 0.2s ease-in;
  -moz-transition: box-shadow 0.2s ease-in;
  transition: box-shadow 0.2s ease-in;
}
/*.shadow:hover {
  -moz-box-shadow: rgba(0, 0, 0, 0.8) 5px 5px 55px inset;
  -webkit-box-shadow: rgba(0, 0, 0, 0.8) 5px 5px 55px inset;
  box-shadow: rgba(0, 0, 0, 0.8) 5px 5px 55px inset;
}
*/