
.about_section {
  background-color: rgba(0,0,0,.6);
  text-align: center;
  margin-top: 58px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.about_section h1 {
  color: #fff;
  font-family: 'Exo 2', sans-serif;
  font-size: 46px;
  font-weight: 900;
  text-transform: uppercase;
}

.about_section p {
  color: whitesmoke;
  font-family: OpenSans;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
}
